* {
  box-sizing: border-box;
}

img { 
    max-width: 100%; 
    height: auto; 
}


body {
  margin-left: 5%;
  margin-right:5%;
}

hr {
  border: 3px solid #ead14b;
}

.column {
  float: left;
  width: 33.33%;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

    @media screen and (max-width:600px) {
         .block { display: block !important; width: 100% !important; }
    }

  .column {
    width: 100%;
    flex: 25%;
    padding: 0 4px;
  }
}

.content {
  width: 100%;
  padding: 2%;
  border-width: 3px;
  border-style: solid;
  border-color: #ead14b;
  font-family: Serif;
  font-size: 14px;
}


.footer {
  color: #28282B;
  width: 100%;
  background-color: #ead14b;
  padding: 1px;
  height:10%;
  border-width: 2px;
  border-style: solid;
  border-color: #ead14b;
  font-size: 8pt;

}
