* {
  box-sizing: border-box;
}

img { 
    max-width: 100%; 
    height: auto; 
}


body {
  margin-left: 5%;
  margin-right:5%;
}

hr {
  border: 3px solid #ead14b;
}

.column {

}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

    @media screen and (max-width:600px) {
         .block { display: block !important; width: 100% !important; }
    }

  .column {
    width: 90%;
    flex: 10%;
  float: left;
  width: 33.33%;
  }
}

.content {
  display: none;
  overflow: hidden;
  width: 100%;
  padding: 0 18px;
  font-family: Serif;
  font-size: 14px;
  font-color: #252525;
}

.collapsible {
  cursor: pointer;
  padding: 0px;
  width: 100%;
  background-color: #ffffff;
  padding: 18px;
  border-width: 0px;
  outline: none;

}

.active, .collapsible:hover {
  background-color: transparent;
}

.footer {
  color: #28282B;
  width: 100%;
  background-color: #ead14b;
  padding: 1px;
  height:10%;
  border-width: 2px;
  border-style: solid;
  border-color: #ead14b;
  font-size: 8pt;

}
